@tailwind base;
@tailwind components;
@tailwind utilities;

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#spinner {
  height: 100px;
  width: 100px;
}

.podcastCover {
  width: 200px;
  border-radius: 10px;
}

.podcastCover:hover {
  animation: shake 0.5s ease-in-out infinite;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}